.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 400px;
  position: absolute;
  left: 0;
  top: 200px;
}

.container header h1 {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.container input {
  padding: 12px 20px;

  background: #f5f3f3;
  border-radius: 5px;
  border: none;

  font-size: 10px;
}

.container input[type="number"] {
  width: 70px;
}

.container button {
  width: 10%;
  padding: 12px;
  font-weight: 700;

  background: #04aa6d;
  color: #d1fac9;

  border-radius: 5px;
  margin: 12px 0;
  border: none;

  cursor: pointer;
  transition: filter 0.2s;
  font-size: 10px;
  text-align: center;
}

.container button:hover {
  filter: brightness(0.9);
}

.container-form {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
  margin-bottom: 10px;
}

.container table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.container td,
th {
  border: 1px solid rgb(3, 188, 235);
  padding: 8px;
}

.container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container tr:hover {
  background-color: #ddd;
}

.container td:first-child,
th:first-child {
  width: 400px;
}

.container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.delete{
  background: blue !important; 
  height: 10px;
}